html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  display: block;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  text-decoration: none;
  text-align: left;
  padding: 1rem;
  margin: 0;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
  text-decoration: none;
}

.link-card:hover {
  background-color: #cabdb2;
}

p {
  color: #512200;
  text-align: left;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
}

dt {
  display: inline-block;
  width: 45%;
  padding: 0;
  margin: 0;
}

dd {
  display: inline-block;
  width: 45%;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: .4em .75em .5em;
  margin: 1rem;
  color: #fff;
  font-family: Dosis, sans-serif;
  background-color: #785439;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: #512200;
}

a dl {
  display: block;
  width: 100%;
  font-size: .875rem;
  padding: 1rem;
  margin: 0;
}

div {
  text-align: center;
}
